name = "cloud-compute"
kind = "marker-team"

[people]
leads = []
# Note: if you are a member of a Rust team that has permissions.dev-desktop set
# to true in its team toml file, then you do not need to be added to this list.
# For example, T-compiler and T-infra both have `dev-desktop = true`
members = [
    "asquared31415",
    "JoelMarcey",
    "nellshamrell",
    "Sp00ph",
    "yaahc",
    "JulianKnodt",
    "vincenzopalazzo",
    "hkBst",
    "tiif",
]

alumni = [
    "Dajamante",
]

[permissions]
dev-desktop = true

[[github]]
team-name = "cloud-compute-team" # The name of the GitHub team (optional)
orgs = ["rust-lang"]
