name = "rustup"
subteam-of = "devtools"

[people]
leads = [
    "rbtcollins",
]
members = [
    "rbtcollins",
]
alumni = [
    "nrc",
    "kinnison",
    "hi-rustin",
]

[website]
name = "Rustup team"
description = "Designing and implementing rustup"
discord-invite = "https://discord.gg/e6Q3cvu"
discord-name = "#wg-rustup"
repo = "https://github.com/rust-lang/rustup"
